{% extends 'base.html.twig' %}

{% block body %}
<film>
<h2>Titre du film</h2>
<div class="metadata">Ajouté le 10/05/2018</div>
<div class="content">
    <img src="http://placehold.it/950x400" alt="">
    <p>dqndkjnckjnckjnwcknwknckwnckwcnkcwncwkncwk
    </p>
    <p>dqndkjnckjnckjnwcknwknckwnckwcnkcwncwkncwk
    </p>
    <hr>
    <p> CONTENT </p>
    </hr>
{% endblock %}